body {
  min-width: 300px;
  background: #fdfdfe;
  color: #676769;
}
#navbar {
  position: fixed;
  min-width: 300px;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 310px;
  color: white;
}
header {
  color: grey;
  margin: 15px;
  text-align: center;
  font-size: 25px;
}
#main-doc header {
  text-align: left;
  margin: 0px;
}
#navbar li {
  list-style: none;
  position: relative;
  width: 100%;
}
#navbar a {
  display: block;
  padding: 10px 30px;
}
#main-doc {
  position: absolute;
  margin-left: 320px;
  padding: 20px;
  margin-bottom: 110px;
}
section article {
  color: #4d4e53;
  margin: 15px;
  font-size: 15px;
}
code {
  color: black;
  display: block;
  text-align: left;
  white-space: pre;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}
p {
  text-align: justify;
}

@media (max-width: 600px) {
  #navbar {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  #main-doc {
    margin-left: 10px;
    margin-top: 650px;
  }
}
