* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #EEE;
}
.main {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #CCC;
}
.logo {
  width: 40vw;
  /*background-color: white;*/
}
#header-img {
/*  background-color: blue;*/
  left: 10px;
  height: 45px;
  width: 45px;
  position: sticky;
}
@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}
.nav-link{
  color: rgba(19, 151, 225, 1);
}

#submit {
  color: black;
  align: center;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  width: 300px;

}
#partnership {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  margin-top: 100px;
  background-color: #DDD;
  border-radius: 5px;
}
.items {
  display: flex;
}
#features {
  padding-top: 50px;
  margin-top: 20px;
  background-color: #DDD;
  border-radius: 10px;
}

#features .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color: rgba(19, 151, 225, 1);
}
@media (max-width:550px) {
  .icon {
    display: none;
  }
}
#features .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
  text-align: justify;
  margin-right: 25px;
}
#hiw {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  background-color: #DDD;
  border-radius: 10px;
}
#pricing {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #DDD;
  border-radius: 10px;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  padding-bottom: 10px;
}
.product > .level {
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
}
@media (max-width: 800px) {
  #pricing {
    flex-direction: column;
  }
  .product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
footer {
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}
