* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #EEE;
}
.main {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;

}
header {
  justify-content: space-around;
  align-items: flex-end;
  display: flex;
  background-color: #CCC;
}
.logo {
  width: 40vw;
  /*background-color: white;*/
}
#header-img {
/*  background-color: blue;*/
  left: 10px;
  height: 45px;
  width: 45px;
  position: sticky;
}
@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}
.nav-link{
  color: rgba(19, 151, 225, 1);
}

#submit {
  color: black;
}
.items {
  display: flex;
}
#partnership {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  margin-top: 50px;
  background-color: #DDD;
  border-radius: 5px;
}
#features {
  top: 200px;
}
